SLSKD_USERNAME = *******
SLSKD_PASSWORD = *******

SPOTIFY_CLIENT_ID = ***************************
SPOTIFY_CLIENT_SECRET = ***************************
SPOTIFY_PLAYLIST_ID = ***************************  # You can find this in the Spotify app by clicking on the playlist and then 'Share'
